* {
  box-sizing:border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

#wrapper {
  max-width: 1140px;
  margin: 0 auto;
  line-height: 150%;
  background-color: #f4f4f4;
  box-shadow: 0 0 5px rgba(23, 8, 25, 0.8)
}

header {
  font-size: 3em;
  text-align: center;
  padding: 20px;
  background-color: coral;
}

header h1 {
  display: inline;
  font-family: Vivaldi, cursive;
  font-size: 80px;
  color: white;
}

#logo {
  height: 1.5em;
}

nav {
  background-color: #333333;
  color: white;
}

nav ul {
  text-align: center;
  padding: 5px;
}

nav li {
  display: inline-block;
  padding: 5px 25px;
}

nav a {
  text-decoration: none;
  color: white;
}

.dropdown {
  /* position: relative; */
  /* display: inline-block; */
}

.dropdown:hover .aboutDropdown {
  display: block;
}

.aboutDropdown {
  display: none;
  position: absolute;
  text-align: center;
  min-width: 120px;
  background-color: #333333;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.4);
}

.aboutDropdown a {
  display: block;
  margin: 15px;
}

.dropdownLink {
  text-decoration: none;
  float: none;
  display: block;
}

#showcase {
  width: 100%;
  background-image: url("showcase.jpg");
  height: 360px;
  color: white;
  text-align: center;
  padding: 40px;
}

#showcase h2 {
  font-size: 3em;
  line-height: 150%;
}

main {
  display: flex;
  padding: 40px 0;
}

h3 {
  font-size: 2em;
}

.mainLeft {
  display: inline-block;
  padding: 20px;
  float: left;
}

.mainRight {
  display: inline-block;
  padding: 40px;
  background-color: #333333;
  color: white;
}

.button {
  margin-left: 30px;
  background-color: coral;
  display: inline-block;
  padding: 10px 20px;
}

.button a {
  color: white;
  text-decoration: none;
}

.threeCol {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.card {
  text-align: center;
}

.cardImg {
  height: 100px;
}

footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 2em;
  border-top: 5px solid coral;
}

a:link {
  color: white;
}

a:hover {
  color: #cccccc;
}

a:visited {
  color: #c2e0f0;
}
